11047번 동전 0

In [1]:
# 파이썬 산술연산

In [2]:
1 + 1

2

In [6]:
3 / 2 # 그냥 나누기

1.5

In [7]:
3 // 2 # 몫

1

In [8]:
3 % 2 # 나머지

1

In [11]:
N, K = map(int, input().split())
coin_list = list()

for i in range(N) :
    coin_list.append(int(input()))
    
cnt = 0 # 몫으로 나눠지면 생기는 돈 사용 종류 수
coin_list.sort(reverse=True)

for i in coin_list :
    cnt += K // i
    K %= i # 나머지가 새로운 K
    
    if K == 0 :
        break

print(cnt)

7 4200
1
5
10
50
100
500
1000
6

1931번 회의실 배정

In [51]:
test_time = [[1, 4], [3, 6], [3, 5], [0, 6], [5, 7],
            [3, 8], [5, 9], [6, 10], [8, 11],
            [8, 12], [2, 13], [12, 14]]
test2 = test_time.copy()

In [52]:
test_time.sort(key = lambda x : x[0])

In [53]:
test_time

[[0, 6],
 [1, 4],
 [2, 13],
 [3, 6],
 [3, 5],
 [3, 8],
 [5, 7],
 [5, 9],
 [6, 10],
 [8, 11],
 [8, 12],
 [12, 14]]

In [54]:
test_time.sort(key = lambda x : x[1])
test_time

[[1, 4],
 [3, 5],
 [0, 6],
 [3, 6],
 [5, 7],
 [3, 8],
 [5, 9],
 [6, 10],
 [8, 11],
 [8, 12],
 [2, 13],
 [12, 14]]

[시작시간 정렬하고 -> 끝나는 시간 정렬하기]와 [끝나는 시간 -> 시작 시간정렬]의 결과는 다르다. 끝나는 시간 먼저 정렬하면, 무조건 0시에 시작하는 회의가 먼저 오므로 나중에 정렬하는 의미가 없지 않을까?<br>
정렬 순서를 끝->시작으로 하면 틀린다.

In [ ]:
N = int(input())
time = []

for i in range(N) :
    start, end = map(int, input().split())
    time.append([start, end])

time = sorted(time, key=lambda x : x[0])
time = sorted(time, key=lambda x : x[1])

last = 0
count = 0

for i, j in time :
    if i >= last :
        count += 1
        last = j
print(count)

In [ ]:
# 1931 다른 코드 참조
N = int(input())
time = []

for _ in range(N):
    start, end = map(int, input().split())
    time.append([start, end])

time = sorted(time, key=lambda a: a[0]) # 시작 시간을 기준으로 오름차순
time = sorted(time, key=lambda a: a[1]) # 끝나는 시간을 기준으로 다시 오름차순

last = 0 # 회의의 마지막 시간을 저장할 변수
conut = 0 # 회의 개수를 저장할 변수

for i, j in time:
    if i >= last: # 시작시간이 회의의 마지막 시간보다 크거나 같을경우
        conut += 1
        last = j

print(conut)
# https://jokerldg.github.io/algorithm/2021/03/11/meeting-room.html

In [ ]:
# 제3자가 봐도 이해하기 편하게 주석과 변수명을 설정한다
n = int(input())

meeting = list()
cnt = 0
start_time = 0

for i in range(n) :
    a1, a2 = map(int, input().split()) # 시작시간, 종료시간 
    meeting.append((a1, a2)) 
    
#정렬에 람다 사용
meeting = sorted(meeting, key=lambda time: time[0]) # 시작시간 기준 정렬
meeting = sorted(meeting, key=lambda time: time[1]) # 그 상태에서 종료시간 기준 정렬

for i in range(n) :
    if meeting[i][0] >= start_time : 
        start_time = meeting[i][1] # 바로 시작할 수 있으므로 
        cnt += 1 
        
print(cnt)

# 출처: https://jshong1125.tistory.com/24 [it 공부 기록용 블로그]

11399번 ATM

In [55]:
testlist = [1,2,3,4,5]
sum(testlist)

15

In [56]:
N = int(input())
P = list(map(int, input().split()))

P.sort()
eachsum = 0
totalsum = 0
for i in range(N) :
    eachsum = sum(P[:i+1])
    totalsum += eachsum
print(totalsum)

4
3 1 4 3

1541번 잃어버린 괄호

문제 이해를 못함.. 2자리수 이상의 숫자 사이에도 괄호가 들어갈 수 있는지..?

또 혼자 꼬아서 생각했다, 가장 큰 수 합을 만들어서 빼주면 되는 것

In [60]:
N = '50+40+20-60-200-10+30-70'
exp = N.split("-")
print(exp)

['50+40+20', '60', '200', '10+30', '70']

In [ ]:
# 최소값을 만드는 거지만, 수식의 순서는 바뀌면 안되기 때문에
# 빼는 값을 최대로 하면 전체는 최소값으로 됨
S = input().split("-") # 수식이므로 int형 변환은 불가능

total = 0
for i in S[0].split("+") :
    total += int(i) # int 변환
    
for i in S[1:] :
    for j in i.split("+") : # 뒤에 있는 것들 중 +가 포함된 원소는 따로 계산할 수 없음..
        total -= int(j)
        
print(total)